<div class="row">
	<div id="fade" class="col s12 div-height hidden">
		<h1 class="center blue-text">Hi, I'm Karson.</h1>
		
		<div class="center">
			<img src="https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/10575350_10204347294272028_4690851976582033820_o.jpg" class="user">
		</div>
		<div class="divider"></div>
		<br />
	</div>
	<div id="fade2" class="col s12 div-height hidden">
		
		<h3 class="center blue-text">I'm a Junior Ruby Dev.</h3>

	</div>
<div id="fade3" class="col s12 div-height hidden">
	
	<h3 class="center blue-text">Check out my stuff.</h3>

</div>
</br>

<div id="fade4" class="hidden">
	<div class="row">
		<div class="col s6">
			<div class="center">
				<a class="btn center indigo-text" href="https://www.instagram.com/karsonhatch_guy/">Photography</a>
			</div>
		</div>
	<div class="col s6">
		<div class="center">
		<%= link_to 'Blog', posts_path, class:'btn center indigo-text', id:'cookie' %>
		</div>
		</div>
	</div>
	</div>
</div>

</div>