<DIV class="container">
	<div class="row">
		<div class="col s10">		
			<h3>
				<%=@post.title%>
			</h3>
		</div>
	</div>
	<div class="col s2">
			<p class="grey-text small">by Karson Hatch</p>
		</div>
	<div class="divider"></div>
	<br />
	<div class="container">
		<%= @post.body %>

	</div>
</DIV>