@import "font-awesome";
@import "materialize";


.user {
	border: 3px black solid !important;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hidden{
	display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}
.small {
  font-size: 10px;
}


